{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        cljsjs/react {:mvn/version "17.0.2-0"}
        cljsjs/react-dom {:mvn/version "17.0.2-0"}
        reagent/reagent {:mvn/version "1.1.1"}
        cljs-web3/cljs-web3 {:mvn/version "0.19.0-0-11"}
        org.clojure/clojurescript {:mvn/version "1.11.4"}}

 :paths ["src" "resources" "target"]

 :aliases {:fig {:extra-deps {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
                              org.slf4j/slf4j-nop {:mvn/version "1.7.30"}
                              com.bhauman/figwheel-main {:mvn/version "0.2.17"}}}}}
